<% if @namespace %>
  <div class="requirements">
    <div class="title">
      <span class="name">Tags</span>
    </div>

    <% i = 0 %>
    <table style="margin-left: 10px;">
      <tr>
        <td valign='top' width="50%">
          <% all_tags_by_letter.sort_by {|l,o| l.to_s }.each do |letter, objects| %>
            <% if (i += 1) % 8 == 0 %>
            </td><td valign='top' width="50%">
              <% i = 0 %>
            <% end %>
            <ul id="alpha_<%= letter %>" class="alpha">
              <li class="letter"><%= letter %></li>
              <ul>
                <% objects.each do |obj| %>
                  <li>
                    <%= linkify obj, obj.value %>
                    <small>
                      ( <%= obj.features.size > 0 ? "#{obj.features.size} feature#{obj.features.size > 1 ? 's' : ''}" : "" %>
			<%= " and " if obj.features.size > 0 && obj.scenarios.size > 0 %>
			<%= obj.scenarios.size > 0 ? "#{obj.scenarios.size} scenario#{obj.scenarios.size > 1 ? 's' : ''}" : "" %> )
                    </small>
                  </li>
                <% end %>
              </ul>
            </ul>
          <% end %>
        </td>
      </tr>
    </table>

  </div>
<% end %>


