<% n = 1 %>
<% @items.each do |stepdef| %>
  <li class="r<%= n %>">
	<span class='object_link'>
		<span class="pre"><%= stepdef.keyword %></span>
	  	<a href="<%= url_for stepdef %>"><span class="name"><%= h(stepdef.value) %></span></a>&nbsp;&nbsp;
	</span>
	<small><%= h(stepdef.location) %></small>
  </li>
  <% n = n == 2 ? 1 : 2 %>
<% end %>