<% if object.features %>
  <h2>Features</h2>
  <dl class="constants">
    <% object.features.each do |feature| %>
	  <dt>
	    <span style="constants"><%= feature.tags %></span><br/>
	    Feature:<span style="constants"><%= feature.name %></span>
	    <span style="constants"><%= feature.file %>:<%= feature.line %></span>
	  </dt>
	  <dd><pre class="code"><%= feature.description %></pre></dd>
    <% end %>
  </dl>
<% end %>
