<% if object.scenarios %>
  <h2>Scenarios</h2>
  <dl class="constants">
    <% object.scenarios.each do |scenario| %>
	  <dt>
		<!-- Show Implied Tags from the Feature -->
	    <span style="constants"><%= scenario.tags %></span><br/>
	    Scenario:<span style="constants"><%= scenario.name %></span>
	    <span style="constants"><%= scenario.file %>:<%= scenario.line %></span>
	  </dt>
	  <dd><pre class="code"><%= scenario.description %></pre></dd>
    <% end %>
  </dl>
<% end %>

