<% if object.step_definitions %>
  <h2>Step Definitions</h2>
  <dl class="constants">
    <%  @steps.each do |step| %>
	  <dt id="<%= anchor_for(step) %>">
	    <span style="font-weight: normal;"><%= step.predicate %></span>
		<span style="constants"><%= step.value %></span>
	  </dt>
	  <dd><pre class="code"><%= step.source %></pre></dd>
    <% end %>
  </dl>
<table class="source_code">
  <tr>
    <td>
      <pre class="lines"><%= "\n\n\n" %><%= h format_lines(object) %></pre>
    </td>
    <td>
      <pre class="code"><span class="info file"># File '<%= h object.file %>'<% if object.line %>, line <%= object.line %><% end %></span><%= "\n\n" %><%= html_syntax_highlight object.source %></pre>
    </td>
  </tr>
</table>
  
<% end %>

