<% if @directory %>
  <div class="requirements">
    <div class="title">
      <div class="name"><%= h @directory.name.to_s.capitalize %> Features</div>
    </div>
    <div class="meta">
      <div class="file"><%= h(@directory.file) %></div>
    </div>
    <div class="summary">
      <span class="name">Features:</span><span class="value"><%= features.size %></span>
      <span class="name">Scenarios:</span><span class="value"><%= scenarios.size %></span>
    </div>
    <div class="tags"><span class="name">Tags:</span>
      <%= tags.collect {|tag| linkify(tag,tag.value) }.join(",\n") %>
    </div>


    <% if @directories_by_letter && !@directories_by_letter.empty? %>
      <div id="directory">
        <div class="title"><span class="name">Directories</span> <small>(A-Z)</small></div>
      </div>
      <% i = 0 %>
      <table>
        <tr>
          <td valign='top' width="33%">
            <% @directories_by_letter.sort_by {|l,o| l.to_s }.each do |letter, objects| %>
              <% if (i += 1) % 8 == 0 %>
              </td><td valign='top' width="33%">
                <% i = 0 %>
              <% end %>
              <ul>
                <% objects.each do |obj| %>
                  <%= linkify obj, obj.value %>
                  <small><%= "#{obj.location}" %></small>
                <% end %>
              </ul>
            <% end %>
          </td>
        </tr>
      </table>

    <% end %>

    <div id="features">
      <div class="title"><span class="name">Features</span> <small>(A-Z)</small></div>
    </div>
    <% i = 0 %>
    <table>
      <tr>
        <td valign='top' width="33%">
          <% @objects_by_letter.sort_by {|l,o| l.to_s }.each do |letter, objects| %>
            <% if (i += 1) % 8 == 0 %>
            </td><td valign='top' width="33%">
              <% i = 0 %>
            <% end %>
            <ul id="alpha_<%= letter %>" class="alpha">
              <li class="letter"><%= letter %></li>
              <ul>
                <% objects.each do |obj| %>
                  <li>
                    <%= linkify obj, obj.value %>
                    <% if !obj.namespace.root? %>
                      <small>(<%= obj.namespace.file %>)</small>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </ul>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>

</div>

