<% if @namespace %>
  <div id="cukes_logo">&nbsp;</div>
  <div id="cukes_links">
    <a href="http://cukes.info/">Cucumber</a> |
    <a href="http://github.com/aslakhellesoy/cucumber/wiki/Gherkin">Gherkin</a> |
    <a href="http://yardoc.org/">YARD</a> |
    <a href="http://github.com/burtlo/Cucumber-In-The-Yard">Cucumber-In-The-YARD</a>
  </div>

  <div class="requirements">

    <div class="summary">
      <span class="name">Features:</span><span class="value"><%= features.size %></span>
      <span class="name">Scenarios:</span><span class="value"><%= scenarios.size %></span>
      <span class="name">Steps:</span><span class="value"><%= steps.size %></span>
      <span class="name">Tags:</span><span class="value"><%= tags.size %></span>
    </div>
    <div class="tags"><span class="name">Tags:</span>
      <%= tags.collect {|tag| linkify(tag,tag.value) }.join(",\n") %>
    </div>

    <div id="features" style="margin-left: 40px;">
      <div class="title"><span class="name">Features</span></div>
    </div>
    <% i = 0 %>
    <table style="margin-left: 10px;">
      <tr>
        <td valign='top' width="50%">
          <% all_features_by_letter.sort_by {|l,o| l.to_s }.each do |letter, objects| %>
            <% if (i += 1) % 13 == 0 %>
            </td><td valign='top' width="50%">
              <% i = 0 %>
            <% end %>
            <ul id="alpha_<%= letter %>" class="alpha">
              <li class="letter"><%= letter %></li>
              <ul>
                <% objects.each do |obj| %>
                  <li>
                    <%= linkify obj, obj.value %>
                    <small>(<%= obj.file %>)</small>
                  </li>
                <% end %>
              </ul>
            </ul>
          <% end %>
        </td>
      </tr>
    </table>

    <% if @directories && !@directories.empty? %>
      <div id="directory" style="margin-left: 40px;">
        <div class="title"><span class="name">Subdirectories</span></div>
      </div>
      <% i = 0 %>
      <table style="margin-left: 10px;">
        <tr>
          <td valign='top' width="33%">
            <% @directories.each do |directory| %>
              <% if (i += 1) % (@directories.size / 3).ceil == 0 %>
              </td><td valign='top' width="33%">
                <% i = 0 %>
              <% end %>
              <ul>
                <%= linkify directory, directory.name %>
              </ul>
            <% end %>
          </td>
        </tr>
      </table>

    <% end %>

  </div>
<% end %>


