<div class="stepdef">
	<a name="<%= anchor_for @stepdefinition %>">
	<div class="title">
		<span class="pre"><%= @stepdefinition.keyword %></span>
		<span class="name"><%= @stepdefinition.value %></span>
		<div style="float: right;"><%= h( @stepdefinition.location ) %></div>
	</div>


	<div class="steps">
		<% if @stepdefinition.steps && !@stepdefinition.steps.empty? %>
		<% @stepdefinition.steps.each_with_index do |step,step_index| %>	
		<div class="step <%= (step_index + 1) % 2 == 0 ? 'even' : 'odd' %>">
			<%= h("#{step.keyword} #{step.value}") %>
			<div class="details"><a href="<%= url_for step.scenario.feature %>"><%= h(step.location) %></a></div>
		</div>
		<% end %>
		<% else %>
		<span class="undefined">No steps were found to match this step definition.</span>
		<% end%>
	</div>
	
	<div class="source">
		<span class="showSource">
		[ <a href="#" class="toggleSource">View source</a> ]	
		</span>
		<table class="source_code">
			<tr>
				<td>
					<pre class="lines"><%= "" %><%= h format_lines(@stepdefinition) %></pre>
				</td>
				<td>
					<pre class="code"><%= "" %><%= html_syntax_highlight @stepdefinition.source %></pre>
				</td>
			</tr>
		</table>
	</div>
</div>
