<% n = n == 'even' ? 'odd' : 'even' %>
<% if @directory.children %>
<ul>
  <% @directory.children.sort {|x,y| x.value.to_s <=> y.value.to_s }.each_with_index do |child,index| %>
    <% if child.is_a?(YARD::CodeObjects::Cucumber::Feature) %>
      <li class="<%= n %>">
        <div class="item" style="padding-left: 30px">
          <%= linkify child, child.value %>
          <small><%= child.location %></small>
        </div>
      </li>
      <% n = n == 'even' ? 'odd' : 'even' %>
    <% end %>

    <% if child.is_a?(YARD::CodeObjects::Cucumber::FeatureDirectory) %>
      <li class="<%= n %>">
        <div class="item" style="padding-left: 30px">
          <%= "<a class='toggle'></a>" unless child.features.empty? && child.subdirectories.empty? %>
          <%= linkify child, child.value.to_s.capitalize  %>
          <small><%= child.location %></small>
        </div>
      </li>
      <%= directory_node child %>
      <% n = n == 'even' ? 'odd' : 'even' %>
    <% end %>
  <% end %>
</ul>
<% end %>
