<% @items.each do |feature| %>
<li>
	<%= "<a class='toggle'></a>" unless feature.scenarios.empty? %>
	<%= linkify feature, feature.value %>
	<small><%= feature.location %></small>
</li>

<% if feature.scenarios %>
<ul>
	<% feature.scenarios.each do |scenario| %>
	<li>
		<%= linkify feature, scenario.value %>
		<small><%= scenario.location %></small>
	</li>
	<% end %>
</ul>
<% end %>
</li>
<% end %>