<li>
  <%= linkify YARD::CodeObjects::Cucumber::CUCUMBER_STEPTRANSFORM_NAMESPACE, "All Step Definitions" %>
</li>
<% n = 1 %>
<% @items.each do |stepdef| %>
  <li class="r<%= n %>">
  <span class='object_link'>
    <span class="pre"><%= stepdef.keyword %></span>
      <a href="<%= url_for stepdef %>" title="<%= h stepdef.value %>">
        <span class="name"><%= h stepdef.literal_value %></span>
      </a>&nbsp;&nbsp;
  </span>
  <small><%= h(stepdef.location) %></small>
  </li>
  <% n = n == 2 ? 1 : 2 %>
<% end %>