<li>
  <%= linkify YARD::CodeObjects::Cucumber::CUCUMBER_STEPTRANSFORM_NAMESPACE, "All Defined Steps" %>
</li>
<% n = 1 %>

<% @items.each do |step| %>
  <li class="r<%= n %>">
	<span class='object_link'>
		<a href="<%= url_for step.scenario.feature %>" title="<%= h step.value %>">
			<span class="pre"><%= step.keyword %></span>
			<span class="name"><%= h(step.value) %></span>
		</a>
	</span>
	<span class="">(<%= h(step.file) %>)<span>
  </li>
  <% n = n == 2 ? 1 : 2 %>
<% end %>