<div class="stepdef">
  <div class="steps">
  <% if @undefined_steps && !@undefined_steps.empty? %>
    <% @undefined_steps.each_with_index do |step,step_index| %>
    <div class="step <%= (step_index + 1) % 2 == 0 ? 'even' : 'odd' %>">
      <span class="predicate"><%= step.keyword %></span>
      <span class="undefined">
        <%= h step.value %>
      </span>
      <div class="details">
        <a href="<%= url_for step.scenario.feature %>"><%= h(step.location) %></a>
      </div>
    </div>
    <% end %>
    <% else %>
    <div class="steps">
      <span class="undefined">No undefined steps</span>
    </div>
    <% end%>
  </div>
</div>
