<% object.scenarios.each do |scenario| %>
<div class="feature indirect">
	<div class="title">
		<span class="pre"><%= scenario.feature.keyword %></span>
		<span class="name">
			<a href="<%= url_for scenario.feature %>"><%= scenario.feature.value %></a>
		</span>
	</div>
	<div class="meta">
		<div class="file"><%= h(scenario.feature.file) %></div>
		<div class="tags">Tags: 
			<% scenario.feature.tags.each do |tag| %>
			<a href="<%= url_for tag %>"><%= tag.value %></a>
			<% end %>
		</div>		
	</div>
	<div class="description"><%= scenario.feature.description %></div>
</div>

<div class="scenario direct">
	<div class="title">
		<span class="pre"><%= scenario.keyword %></span>
		<span class="name">
			<a href="<%= url_for scenario.feature %>"><%= scenario.value %></a>
		</span>
	</div>
	<div class="meta">
		<div class="file"><%= scenario.location %></div>
		<% unless scenario.tags.empty? %>
		<div class="tags">Tags:
			<% scenario.tags.each do |tag| %>
			<a href="<%= url_for tag %>"><%= tag.value %></a>
			<% end %>
		</div>
		<% end%>
	</div>
	<% unless scenario.description.empty? %>
	<div class="description">
		<%= h scenario.description %>
	</div>
	<% end %>
</div>
<% end %>