<script type="text/javascript" charset="utf-8">
$(function() {
  $(".developer").hide();
  $(".scenario .title").css('cursor','pointer');
});
</script>

<div class="feature">
  <div class="title">
    <a id="view" class="control" href="#">[More Detail]</a>
    <a id="expand" class="control" href="#">[Collapse All]</a>
    <div style="clear: right;"></div>
    <span class="pre"><%= @feature.keyword %>:</span>
    <span class="name"><%= @feature.value %></span>
  </div>

  <% if @feature.comments.length > 0 %>
  <div class="comments developer">
    <%= htmlify_with_newlines @feature.comments %>  
  </div>
  <% end %>

  <div class="description">
    <%= htmlify_with_newlines @feature.description %>
  </div>

  <div class="meta">
    <div class="file developer"><%= h(@feature.file) %></div>
    <div style="clear: right;"></div>
    <div class="tags developer">
      <% @feature.tags.each do |tag| %>
      <a href="<%= url_for tag %>"><%= tag.value %></a>
      <% end %>
    </div>
  </div>

  <%= yieldall %>
</div>

