<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".developer").hide();
  });
</script>

<div class="feature">
  <div class="title">
    <span class="pre"><%= @feature.keyword %>:</span>
    <span class="name"><%= @feature.value %></span>

    <div id="view" class="control">[More Detail]</div>
    <div id="expand" class="control">[Collapse All]</div>
</div>

<div class="meta">
  <div class="file developer"><%= h(@feature.file) %></div>
  <div style="clear: right;"></div>
  <div class="tags developer">
    <% @feature.tags.each do |tag| %>
      <a href="<%= url_for tag %>"><%= tag.value %></a>
    <% end %>
  </div>
</div>

<div class="description">
  <%= @feature.description %>
</div>

<%= yieldall %>
</div>

