<% @scenario.scenarios.each_with_index do |scenario,example_index| %>
  <div style="display: none;" class="steps <%= "example#{example_index + 1}" %>">
    <% @scenario_outline = @scenario ; @scenario = scenario ; @steps = scenario.steps %>
    <%= erb(:steps) %>
    <% @scenario = @scenario_outline %>
  </div>
<% end %>

<div class="outline">
  <div class="keyword"> <%= h @scenario.example_keyword %> </div>
  <table>
    <thead>
      <tr>
        <% @scenario.example_headers.each_with_index do |header,header_index| %>
          <th><%= h(header) %></th>
        <% end %>
      </tr>
    </thead>
    <% @scenario.example_data.each_with_index do |row,row_index| %>
    <tr class="<%= (row_index + 1) % 2 == 0 ? "even example#{row_index +1}" : "odd example#{row_index +1}" %>">
      <% row.each_with_index do |column,column_index| %>
        <td><%= h(column.to_s.strip) %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
