<% if @namespace %>
  <div id="tags" class="requirements">
    <script type="text/javascript" charset="utf-8">
      var tag_list = [ <%= tags.collect{|t| "'#{t.value}'" }.join(',') %> ];

      $(function() {

        // On focus, remove all the shortcut keys
        $("#tag_search").focus(function() {
          $(document).unbind('keypress');
        });
        
        // On blur, return all the shortcut keys
        $("#tag_search").blur(function() {
          $(document).bind('keypress',keyboardShortcuts);
          $(document).bind('keypress',cucumberKeyboardShortcuts);
        });

        $("#tag_search").keyup(function(evt) {
          updateTagFiltering($("#tag_search")[0].value);
        });

        
        $("#tag_search").keyup(function(evt) {
          updateTagFiltering($("#tag_search")[0].value);
        });
        
         $(".tag").click(function(evt) {
            if (typeof evt !== "undefined") {

              if (evt.shiftKey === true)  {
                window.location = $(this).attr("href");
                return true;
              }
              
              var tagSearchElement = $("#tag_search")[0];
              
              var tagToAdd = this.innerHTML;
              var tagModifer = "";
              
              if (evt.altKey === true ) {
                tagToAdd = "~" + tagToAdd;
              }
              
              if (evt.ctrlKey === true ) {
                tagModifier = ",";
              } else {
                tagModifier = " ";
              }
              
              tagSearchElement.value = (tagSearchElement.value != "" ? tagSearchElement.value + tagModifier : "") + tagToAdd;
              updateTagFiltering(tagSearchElement.value);
              
            }
        });
      });
    </script>

    <div class="title">
      <span class="name">Tags</span>
    </div>

    <div id="tag_filtering" >
        <span style="font-size: 18px;">Tag Filtering <a href="https://github.com/cucumber/cucumber/wiki/Tags" target="_blank">?</a></span>
        
        <div style="clear: both"></div>
        
        <div style="float: left; margin-top: 10px; padding-left: 5px; line-height: 1.5; font-size: 10px; font-style: italic;">
          Type in tags with spaces between to 'AND' and commas between to 'OR'<br/> 
          LEFT CLICK to AND tags; CTRL+LEFT CLICK to OR tags; hold ALT for inverse (~) tags
        </div>
        
        <div style="clear: both;"></div>
          
        <div style="float: right;">
          <a href="#" onclick="clearTagFiltering(); $('#tag_search')[0].value = ''; return true;">clear</a>
        </div>
        
        <div style="clear: both"></div>
        
        <input id="tag_search" type="text" />
        <span>Example command line execution:</span>
        <div id="command_example">cucumber</div>
    </div>

    <div class="tags" style="margin-top: 20px;"><span class="name">Tags:</span>
      <%= tags.collect {|tag| tagify(tag) }.join(",\n") %>
    </div>

    <div id="features">
      <div class="title">
        <span class="name">Features</span>
      </div>
      <% n = 1 %>
      <ul style="padding-left: 0px;">
      <% features.each do |feature| %>
        <li class="feature <%= n % 2 == 0 ? 'even' : 'odd' %> <%= feature.tags.collect {|t| t.value}.join(" ") %>">
        <%= linkify feature, feature.value %>
          <% ftags = feature.tags.collect{|t| tagify(t) }.join(", ") %>
          <% if ftags && ftags != "" %>
          - <small><%= ftags %></small>
          <% end %>
        </li>
        <% n = n == 2 ? 1 : 2 %>
        <% if feature.scenarios %>
          <ul style="padding-left: 20px;">
          	<% feature.scenarios.each do |scenario| %>
          	<li class="scenario <%= n % 2 == 0 ? 'even' : 'odd' %> <%= feature.tags.collect{|t| t.value }.join(" ") %> <%= scenario.tags.collect{|t| t.value }.join(" ") %>">
          	  <span class='object_link'>
             		<a href="<%= url_for(scenario.feature,"scenario#{scenario.feature.scenarios.index(scenario) }") %>">
             		  <%= h scenario.value %>
             		</a>
             	</span>
             	<% stags = scenario.tags.collect{|t| tagify(t) }.join(", ") %>
              <% if stags && stags != "" %>
                - <small><%= stags %></small>
              <% end %>
          	</li>
            <% n = n == 2 ? 1 : 2 %>
          	<% end %>
          </ul>
        <% end %>
      <% end %>
      </ul>
      <div class="undefined" style="display:none;">No Features or Scenarios match the Tag Expression</div>
    </div>

  </div>
<% end %>


