<% if @namespace %>
  <div id="tags" class="requirements">
    <script type="text/javascript" charset="utf-8">
      var tag_list = [ <%= tags.collect{|t| "'#{t.value}'" }.join(',') %> ];

      $(function() {
        $("#tag_search").keyup(function(evt) {
          var formulaTags = determineTagsUsedInFormula($("#tag_search")[0].value);
          displayExampleCommandLine(formulaTags);
          displayQualifyingFeaturesAndScenarios(formulaTags);
          return evt;
        });
      });
    </script>

    <div class="title">
      <span class="name">Requirements Tags</span>
    </div>

    <div class="tags"><span class="name">Tags:</span>
      <%= tags.collect {|tag| linkify(tag,tag.value) }.join(",\n") %>
    </div>

    <div>
      <input id="tag_search" type="text" />
    </div>

    <div id="command_example">cucumber</div>

    <div id="features">
      <div class="title">
        <span class="name">Features</span>
      </div>
      <% n = 1 %>
      <% features.each do |feature| %>
        <li class="feature r<%= n %> <%= feature.tags.collect{|t| t.value }.join(" ") %>">
          <%= linkify feature, feature.value %>
          <small>(<%= h(feature.location) %>)</small>
        </li>
        <% n = n == 2 ? 1 : 2 %>
        <% end %>
    </div>

    <div id="scenarios">
      <div class="title">
        <span class="name">Scenarios</span>
      </div>
      <% n = 1 %>
      <% scenarios.each_with_index do |scenario,index| %>
        <li class="scenario r<%= n %> <%= scenario.tags.collect{|t| t.value }.join(" ") %>">
          <%= linkify scenario.feature,  scenario.value %>
          <small>(<%= h(scenario.feature.location) %>)</small>
        </li>
      <% n = n == 2 ? 1 : 2 %>
      <% end %>
    </div>

  </div>
<% end %>


