
<script type="text/javascript" charset="utf-8">
$(function() {
	$('#background .toggle').click(function() {
		$("#backgroundSteps").toggle('blind');

		var stateIndicator = $('#background a.toggle')[0]

		stateIndicator.innerHTML = (stateIndicator.innerHTML === '+' ? '-' : '+'); 
		return false;
	});
});
</script>

<div id="background">
	<div class="title">
		<a class="toggle">-</a>
		<span class="pre">Background</span>
	</div>
	<% unless @feature.background.description.empty? %>
	<div class="description">
		<%= h(@feature.background.description) %>
	</div>
	<% end %>

	<!-- Background and scenario should have the same display with some minor changes -->

	<div id="backgroundSteps" class="steps">
		<% if @feature.background.steps %>
		<%  @feature.background.steps.each_with_index do |step,index| %>
		<div <%= "id='backgroundStep#{index}'" %> class="step <%= (index + 1) % 2 == 0 ? 'even' : 'odd' %>">
			<span class="predicate"><%= step.keyword %></span>

			<% if step.definition %>
			<script type="text/javascript" charset="utf-8">
			$('<%= "#backgroundStep#{index}" %>').hover(
				function () { $('<%= "#backgroundStep#{index} div.details" %>').toggle('slide'); },
				function () { $('<%= "#backgroundStep#{index} div.details" %>').toggle('slide'); }
			);

			$('<%= "#backgroundStep#{index} div.details" %>').show();

			</script>
			<span class="defined">
				<a href="steptransformers.html#<%= step.definition.name %>"><%= h(step.value) %></a>
				<div class="details" style="display: none;">
					(<%= h( step.definition.location ) %>)
				</div>
			</span>
			<% else %>
			<span class="undefined"><%= h(step.value) %></span>
			<% end %>

		</div>

		<% if step.has_table? %>
		<div class="multiline">
			<table style="">

				<thead>
					<tr>
						<% step.table.first.each_with_index do |column,column_index| %>
						<th class="<%= (column_index + 1) % 2 == 0 ? 'even' : 'odd' %>"><%= h(column.strip) %></th>
						<% end %>
					</tr>
				</thead>

				<% step.table[1..-1].each_with_index do |row,row_index| %>
				<tr class="<%= (row_index + 1) % 2 == 0 ? 'even' : 'odd' %>">
					<% row.each_with_index do |column,column_index| %>
					<td><%= h(column.strip) %></td>
					<% end %>
				</tr>
				<% end %>
			</table>
		</div>
		<% end %>
		
		<% if step.has_text? %>
		<div class="text">
			<%= h(step.text) %>
		</div>
		<% end %>


		<% end %>
		<% else %>
		<span>No Steps Defined</span>
		<% end %>
	</div>

</div>