<div class="scenario">
	<div class="title">
		<span class="pre">Scenario:</span>
		<span class="name"><%= @scenario.value %></span>
	</div>
	<% unless @scenario.tags.empty? %>
	<div class="tags"><%= @scenario.tags.collect { |tags| tags.value }.join("&nbsp;&nbsp;") %></div>		
	<% end %>
	<% unless @scenario.description.empty? %>
	<div class="description">
		<%= @scenario.description.join("\n<br/>") %>
	</div>
	<% end %>
	<div class="steps">
		<% unless @scenario.steps.empty? %>
		<% @scenario.steps.each do |step| %>
		<!-- TODO: Style the first word differently -->
		<!-- TODO: Link the step to the step definition -->
		<!-- TODO: Steps without links should appear different -->
		<div class="step"><span class="predicate"><%= step.keyword %></span>&nbsp;<%= step.line %></div>
		<% end %>
		<% else %>
		<span>No Steps Defined</span>
		<% end %>
	</div>
</div>
